@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

$primary-color:    #223645;
$secondary-color:  #b83336;
$p-color:          rgba(34,54,69,0.7);
$white-color:      #fff;

body{
  font-family: 'Poppins', sans-serif;
}

.header {
  z-index: 99999;
  position: fixed;
  font-family: 'Poppins', sans-serif;

  .navbar {
    background-color: $white-color !important;

    .nav-item {
      font-size: 16px;
      font-weight: 600;
      color: $primary-color;
      text-transform: capitalize;
      padding: 10px 15px !important;

      .nav-link {
        font-size: 18px;
        color: $primary-color;
        font-weight: 600;
        transition: 0.5s all ease;

        &:hover{
          color: #b83336;
        }

        &.btn-apply{
          padding: 10px 15px !important;
          text-decoration: none;
          color: $white-color;
          background-color: $secondary-color;
          border-radius: 8px;
          float: left;
          transition: all transition;
          text-wrap: nowrap;

          &:hover{
              background-color: $primary-color;
          }
        }
      }
    }



    @media screen and (max-width: 992px){
      .collapse{
        background-color: $white-color !important;
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        // text-align: center;

        .navbar-text{
          padding: 0 !important;
          .nav-item{
            padding-top: 0 !important;
          }
        }
      }
    }

    @media screen and (min-width: 993px) and (max-width:1199px){
        .nav-link{
            // padding: 10px !important;
            font-size: 16px;
        }
    }
  }
}

.banner{
  margin-top: 70px;
  font-family: 'Poppins', sans-serif;
  position: relative;

  &::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.4;
    z-index: 99;
  }

  .carousel{
      .carousel-inner{
          .carousel-item{
              .content-1{
                background: url(../images/images/shutterstock.jpg);
                position: relative;
                background-size: cover;
                overflow: hidden;
                background-repeat: no-repeat;
                text-align: center;
              }
              .content-2{
                background: url(../images/images/vector-smart.jpg);
                position: relative;
                background-size: cover;
                overflow: hidden;
                opacity: 1;
                background-repeat: no-repeat;
                text-align: center;
              }
              .content-3{
                background: url(../images/images/shutterstock.jpg);
                position: relative;
                background-size: cover;
                overflow: hidden;
                background-repeat: no-repeat;
                text-align: center;
              }
              .carousel-content{
                  height: 88vh;
                  max-height: 650px;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;


                  .container{
                    position: relative;
                    z-index: 9999;
                  }

                  h5{
                      color: $white-color;
                      font-size: 20px;
                      font-weight: 500;
                  }

                  h1{
                      color: $white-color;
                      font-size: 50px;
                      font-weight: 700;
                      margin-top: 20px;
                      text-transform: capitalize;
                      
                      span{
                          color: $primary-color;
                          font-weight: 500;
                      }
                  }
                  p{
                     color: $white-color;
                     max-width: 600px;
                     margin-left: auto;
                     margin-right: auto;
                     margin-top: 20px;
                     padding-bottom: 40px;
                  }

                  a{
                      text-decoration: none;
                      color: $white-color;
                      background-color: $secondary-color;
                      padding: 10px 30px 12px;
                      border-radius: 8px;
                      transition: 0.5s all ease;

                      &:hover{
                          background-color: $primary-color;
                      }
                  }
              }
          }
      }

      .carousel-indicators{
        z-index: 9999;
          button[type=button]{
              border: 2px solid $primary-color;
              border-radius: 50%;
              height: 15px;
              width: 15px;
              background: transparent;
              margin: 0px 8px;

              &.active{
                  background: $secondary-color;
              }
          }
      }
  }

  @media screen and (max-width: 992px){
      .carousel{
          .carousel-inner{
              .carousel-item{
                  .carousel-content{
                      max-height: 500px !important;
                  }
              }
          }
      }
  }

  @media screen and (max-width: 768px){
      .carousel-content{
          h1{
              font-size: 40px !important;
              margin-top: 10px !important;
          }

          p{
              padding-bottom: 24px !important;
              margin-top: 20px !important;
              font-size: 14px !important;
          }

          a{
              padding: 10px 30px !important;
              font-size: 14px;
          }
      }
      .carousel-indicators{
          button[type=button]{
              height: 13px !important;
              width: 13px !important;
          }
      }
  }
}


.services{
  padding: 100px 0;
  font-family: 'Poppins', sans-serif;

  .dental{
      text-align: center;

      h5{
        font-size: 15px;
        font-weight: 600;
        color: $primary-color;
      }

      h2{ 
        padding-top: 10px;
        font-size: 40px;
        color: $primary-color;
        font-weight: 700;
        line-height: 50px;
        margin-bottom: 30px;
        span{
          padding-top: 10px;
          color: $secondary-color;
          font-weight: 700;
        }

      }
      p{
          padding-top: 10px;
          font-size: 20px;
          font-weight: 700;
          color: $p-color;
      }
  }

  .card{
      border: #fff;
      margin-top: 30px;
      .content{
          text-align: center;
          .img{
            padding-top: 25px;
            max-width: 150%;
          }
      }
      @media screen and (max-width: 768px){
        .img{
          max-width: 140%;
        }
        .gap-20{
          gap: 8px;
        }
      }
      
      .card-body{
          h3{
              padding-top: 10px;
              padding-left: 15px;
              color: $primary-color;
              font-size: 20px;
              font-weight: 600;
          }

          p{
              padding-top: 8px;
              padding-left: 15px;
              color: $p-color; 
              font-size: 14px;
          }
      }
  }

  @media screen and (max-width: 990px) {
    .dental{
      h2{
        font-size: 32px;
      }
    }
  }
}


/*Recent work start*/
.portfolio{
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
  .portfolio-header{
    text-align: center;
    h5{
      font-size: 15px;
      font-weight: 600;
      color: $primary-color;
    }
  
    h2{ 
      padding-top: 10px;
      font-size: 35px;
      color: $primary-color;
      font-weight: 700;
      margin-bottom: 30px;
      line-height: 50px;
      span{
        padding-top: 10px;
        color: $secondary-color;
        font-weight: 700;
      }
  
    }
  }

  .portfolio-text{
      background: #fff;
      border-radius: 0 0 8px 8px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 5px;
      text-align: center;
      .portfolio-title{
        margin-bottom: 0px;
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        color: $primary-color;
    
      }
      p{
          padding-top: 4px;
          font-size: 14px;
          color: $p-color;
          margin-bottom: 15px;
          letter-spacing: 0.2px;
          line-height: 1.5;
      }
  }
  
  .thumb {
      position: relative;
      overflow: hidden;
      margin-top: 20px;
      border-radius: 0px;
      transition: transform 0.5s;
      border-radius: 8px;
      overflow: hidden;

      img{
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      &:hover{
          .overlay{
              opacity: 0.9;
          }
      }

      .overlay {
          background: $p-color;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: all 0.4s ease-in-out;
        }

      .item {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          padding: 25% 20px 20px;

          .link-item{
              border-radius: 100px;
              color: #fff;
              font-size: 20px;
              display: inline-block;
              width: 54px;
              height: 54px;
              line-height: 52px;
              text-align: center;
              text-decoration: none;
              margin: 12px 7px 2px 0;
              
          }


          h2{
              color: #fff;
              font-weight: 500;
              font-size: 20px;
              text-transform: uppercase;
              letter-spacing: 0.5px;
              letter-spacing: 1.5px;
          }
      }
    } 
}
@media (max-width: 768px) {
  .portfolio{
    .thumb{
      img{
        width: 500px;
      }
      .overlay{
        width: 500px;
      }
    }
  }
}
/*Recent work end*/
/*Client Start*/
.client{
  font-family: 'Poppins', sans-serif;
  margin-bottom: 100px;
  .container{
      position: relative;
  }  
  .client-title{
    h6{
      font-size: 15px;
      font-weight: 600;
      color: $primary-color;
    }

    h1{ 
      padding-top: 10px;
      font-size: 35px;
      color: $primary-color;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 30px;
      span{
        padding-top: 10px;
        font-size: 35px;
        color: $secondary-color;
        font-weight: 700;
      }

    }

  }
  .logo-img{
    text-align: center;
    cursor: pointer;
    display: block;
    color: $primary-color;
      
    &:hover{
      color: $secondary-color;
    }
  }
}

@media (max-width:568px){
  .client{
      padding: 3em 0;        
      .container{
          h1 {
              font-size: 30px;
          }
          .logo-img{
            text-align: center;
            font-size: 50px;
          }
      }
  }
}
/*Clients End*/

.stats{
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background-image: url(../images/images/shutterstock-3.jpg);
  position: relative;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  padding: 8rem 0;
  h1{
    text-align: center;
    padding-top: 10px;
    font-size: 35px;
    font-weight: 700;
    color: $white-color;
  }
  @media screen and (max-width: 375px) {
      padding: 4rem 1rem;
  }
}


.testimonials, .about{
  margin-top: 100px;
  .portfolio-header{
    text-align: center;
    h5{
      font-size: 15px;
      font-weight: 600;
      color: $primary-color;
    }
  
    h2{ 
      padding-top: 10px;
      font-size: 35px;
      color: $primary-color;
      font-weight: 700;
      margin-bottom: 30px;
      line-height: 50px;
      span{
        padding-top: 10px;
        color: $secondary-color;
        font-weight: 700;
      }
  
    }
  }

  .section-heading{
      h2{
          color: $white-color;
      }
  }
      .carousel{
          .carousel-caption {
              background-color: $white-color;
              position: initial;
              z-index: 10;
              font-size: 1.2rem;
              line-height: 2rem;
              img {
                  width: 100%;
                  border-radius: 0px;
              }
        
              h2{ 
                text-align: start;
                padding-top: 10px;
                font-size: 35px;
                color: $primary-color;
                font-weight: 700;
                span{
                  padding-top: 10px;
                  font-size: 35px;
                  color: $secondary-color;
                  font-weight: 700;
                }
              }
              p{
                text-align: start;
                padding-top: 10px;
                font-size: 15px;
                font-weight: 500;
                color: $p-color;
                padding-bottom: 30px;
              }
              a{
                margin-right: 380px;
                text-decoration: none;
                color: $white-color;
                background-color: $secondary-color;
                padding: 10px 30px 12px;
                border-radius: 0px;
                float: left;
                transition: all transition;

                &:hover{
                    background-color: $primary-color;
                }
              }

          }
          @media (max-width: 768px){
              .carousel-caption {
                text-align: center;
                a{
                  margin-right: 343px;
                }
              }
          }
          
          
          .carousel-control-prev {
              justify-content: center;
              transition: none;
              opacity: unset;
              background-color: $primary-color;
              height: 40px;
              width: 40px;
              border-radius: 50%;
              position: absolute;
              top: 50%;
              left: -15px;
              .carousel-control-prev-icon{
                width: 20px;
                text-align: center;
                
              }
          }
          .carousel-control-next {
              justify-content: center;
              transition: none;
              opacity: unset;
              background-color: $primary-color;
              height: 40px;
              width: 40px;
              border-radius: 50%;
              position: absolute;
              top: 50%;

              .carousel-control-next-icon{
                width: 20px;
                text-align: center;
              }
          }
          @media screen and (max-width: 990px) {
            .carousel-control-next{
              right: 0;
            }
          }
      }

      @media screen and (max-width: 990px) {
        .carousel{
          .carousel-caption{
            a{
              margin-right: 0;
            }
          }
        }
      }

  @media screen and (max-width:767px) {
      .carousel-caption {
          padding: 20px !important;
          font-size: 0.9rem !important;
          line-height: 1.5rem;
          img {
              width: 100%!important;
              border-radius: 0 !important;
          }
          p{
            margin-bottom: 0;
          }
      }
      .image-caption {
          font-style: normal;
          font-size: 0.8rem !important;
          margin-top: 0.5rem;
      }
      .carousel-control-next{
          top: 20% !important;
          right: 0 !important;
      }
      .carousel-control-prev{
          top: 20% !important;
          left: 0px !important;
      }
  }
}


.widget{
  font-family: 'Poppins', sans-serif;
  margin-bottom: 70px;
  .btn-apply{
    padding: 10px 15px !important;
    text-decoration: none;
    color: $white-color;
    background-color: $secondary-color;
    border-radius: 8px;
    float: left;
    transition: all transition;
    text-wrap: nowrap;
    max-width: 400px;
    margin: 0 10px;

    &:hover{
        background-color: $primary-color;
    }
  }
  .key-features{
    h6{
      text-align: center;
      font-size: 15px;
      font-weight: 600;
      color: $primary-color;
    }
    h2{ 
      text-align: center;
      padding-top: 10px;
      font-size: 35px;
      color: $primary-color;
      font-weight: 700;
      span{
        padding-top: 10px;
        font-size: 35px;
        color: $secondary-color;
        font-weight: 700;
      }

    }
    p{
      padding-top: 10px;
      font-size: 15px;
      font-weight: 400;
      color: $p-color;
    }
    .block{
      border-radius: 0px;
  
      
      img{
        transition: transform 0.5s;

        &:hover{
           transform: scale(1.05);
        }
      }
      .text{
        padding-top: 20px;
        color: $p-color;
        font-size: 14px;
        font-weight: 700;
      }
      h4{
        padding-top: 10px;
        color: $primary-color;
        font-size: 18px;
        font-weight: 700;
      
        &:hover{
          filter: opacity(1);
          transition: linear 0.1s;
        }
      }

    }
  }

  @media screen and (max-width: 520px){
    .btn-apply{
      max-width: 200px;
    }
    .key-features{
      h2{
        font-size: 32px;
      }
    }
  }
}

.footer{
    font-family: 'Poppins', sans-serif;
    background: $primary-color;
    color: white;
    padding-top: 80px;
    padding-bottom: 50px;
    .footer-content{
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        max-width: 430px;
    }
    .social-links{
        font-size: 24px;
        list-style: none;
        .link-item{
            margin-right: 1rem;
            text-decoration: none;
            i{
              margin-right: 5px;
              display: block;
              text-align: center;
              line-height: 45px;
              border-radius: 50px;
              transition: all 0.5s;
              color: $white-color;

                &::before{
                  vertical-align: middle;
                  font-size: 22px;
                }
  
                &:hover{
                  color: $secondary-color;
                  }
            }

            .fa-linkedin{
             &::before{
              font-size: 26px;
             }
            }
        }
    }
    .footer-widget {
        h4{
            font-weight: 700;
            font-size: 20px;
            line-height: 18px;
            color: $white-color;
        }
        .footer-links{
            font-weight: 400;
            font-size: 14px;
            line-height: 23px;
            margin-left: -2rem;
            li{
                list-style: none;
                margin-bottom: 0.9rem;
                a{
                    text-decoration: none ;
                    color: $white-color;
                    transition: 0.3s all ease;

                    &:hover{
                      color: #b83336;
                    }
                }
            }
        }
  
    }
  }
  
  .gap-20{
    gap: 20px;
  }

  .about-content{
    h2{ 
      text-align: start;
      padding-top: 10px;
      font-size: 35px;
      color: $primary-color;
      font-weight: 700;
      span{
        padding-top: 10px;
        font-size: 35px;
        color: $secondary-color;
        font-weight: 700;
      }
    }
    p{
      text-align: start;
      padding-top: 10px;
      font-size: 15px;
      font-weight: 500;
      color: $p-color;
      padding-bottom: 30px;
    }
    a{
      margin-right: 380px;
      text-decoration: none;
      color: $white-color;
      background-color: $secondary-color;
      padding: 10px 30px 12px;
      border-radius: 0px;
      float: left;
      transition: all transition;
      text-wrap: nowrap;

      &:hover{
          background-color: $primary-color;
      }
    }
  }

  .learnings{
      font-family: "Poppins", sans-serif;
      margin-top: 100px;
      margin-bottom: 100px;

      .key-features{
        .container{
          position: relative;
        }
      }

      .image-learn {
        position: absolute;
        width: 100px;
        opacity: 0.2;

        &.learning-2{
          bottom:0;
          right: 0;
        }
      }

      .key-features{
        h6{
          text-align: center;
          font-size: 15px;
          font-weight: 600;
          color: $primary-color;
        }
        h2{ 
          text-align: center;
          padding-top: 10px;
          font-size: 35px;
          color: $primary-color;
          font-weight: 700;
          span{
            padding-top: 10px;
            font-size: 35px;
            color: $secondary-color;
            font-weight: 700;
          }
    
        }
        p{
          padding-top: 10px;
          font-size: 15px;
          font-weight: 400;
          color: $p-color;
        }
        .block{
          border-radius: 0px;
      
          
          img{
            transition: transform 0.5s;
    
            &:hover{
               transform: scale(1.05);
            }
          }
          .text{
            padding-top: 20px;
            color: $p-color;
            font-size: 14px;
            font-weight: 700;
          }
          h4{
            padding-top: 10px;
            color: $primary-color;
            font-size: 18px;
            font-weight: 700;
          
            &:hover{
              filter: opacity(1);
              transition: linear 0.1s;
            }
          }
    
        }
      }

      .learning-list{
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;

        li{
          min-width: 250px;
          padding: 0px 0 10px 15px;
          font-size: 18px;
          font-weight:500;
          text-wrap: wrap;
          position: relative;
          display: flex;
          align-items: center;

          &:before{
            content: "";
            width: 4px;
            height: 100%;
            background-color: $secondary-color;
            border-radius: 4px;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
      @media screen and (max-width: 800px){
        .learning-list{
          grid-template-columns: 1fr 1fr;
        }
      }
    
      @media screen and (max-width: 520px){
        .key-features{
          h2{
            font-size: 32px;
          }
        }
        .learning-list{
          grid-template-columns: 1fr;
        }
      }
  }




  // products page stylings

  .main{
    margin-top: 70px;
  }

  .mt-120{
    margin-top: 120px;
  }

  // flyout css

  .flyout {
    position: fixed;
    top: 0;
    right: -500px; /* Hide the flyout by default */
    width: 500px;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.5s ease-in-out;
    z-index: 1000000;

    h2{
      span{
        cursor: pointer;
      }
    }
  }
  
  .flyout-content {
    padding: 20px;
  }
  
  .flyout.open {
    right: 0; /* Show the flyout when open */
  }

  @media screen and (max-width: 520px){
    .flyout{
      width: 300px;
    }
  }